/*  your css code here. If applicable */
/* Style the nav-bar */
.nav-bar {
    background-color: #D3D3D3;
    padding: 10px;
    list-style: none; 
	display: flex/* Removes bullet points */
}

/* Display list items horizontally */
.nav-bar li {
    display: inline;
    margin-right: 1rem;
}
